*{
	box-sizing: border-box ;
	padding: 0;
	margin: 0;
}
html {
min-width: 550px;
position: relative;
}
body{ 
	background-image: url('../img/bgi1.png');
	overflow-y: hidden;
	overflow-x: hidden;
	display: flex;
	pjustify-content: center;
	palign-items: center ;
	height: 100vh;
	background: linear-gradient(135deg, rgb( 132, 176, 217),#fff);
}
div .flex{
	display: flex;
	height: 50px;
}
h2{
	margin-bottom: 0px; 
}
p{
	margin-top: 0px;
}
.pfp{
	float:left; 
    background:Red;
    position: relative;
    width:30%;
}
.about{
	float:right;
    background:blue;
    position: relative;
    width:70%;
}
.leftbox {
    float:left; 
    background:Red;
    width:15%;
    height:100%;
}
.middlebox{
	background: transparent;
	opacity: 100%;
	overflow-y: scroll;
    float:left; 
    width:70%;
    height:100%;
}
.rightbox{
    float:right;
    background:blue;
    width:15%;
    height:100%;
}